# Generate lookup tables

The main script needs some lookup tables. They're generated here.

In [2]:
import pandas as pd

## List of state abbreviations and populations

In [3]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States')

In [4]:
states = df[0].iloc[:,[0,1,5]].copy()
states.columns = ['state_full', 'state_code', 'population']
states.loc[:,'state_full'] = states.state_full.str.split('[', n=1).str.get(0)
states

        state_full state_code  population
0          Alabama         AL     4903185
1           Alaska         AK      731545
2          Arizona         AZ     7278717
3         Arkansas         AR     3017804
4       California         CA    39512223
5         Colorado         CO     5758736
6      Connecticut         CT     3565278
7         Delaware         DE      973764
8          Florida         FL    21477737
9          Georgia         GA    10617423
10          Hawaii         HI     1415872
11           Idaho         ID     1787065
12        Illinois         IL    12671821
13         Indiana         IN     6732219
14            Iowa         IA     3155070
15          Kansas         KS     2913314
16        Kentucky         KY     4467673
17       Louisiana         LA     4648794
18           Maine         ME     1344212
19        Maryland         MD     6045680
20   Massachusetts         MA     6892503
21        Michigan         MI     9986857
22       Minnesota         MN     5639632
23     Mississippi         MS     2976149
24        Missouri         MO     6137428
25         Montana         MT     1068778
26        Nebraska         NE     1934408
27          Nevada         NV     3080156
28   New Hampshire         NH     1359711
29      New Jersey         NJ     8882190
30      New Mexico         NM     2096829
31        New York         NY    19453561
32  North Carolina         NC    10488084
33    North Dakota         ND      762062
34            Ohio         OH    11689100
35        Oklahoma         OK     3956971
36          Oregon         OR     4217737
37    Pennsylvania         PA    12801989
38    Rhode Island         RI     1059361
39  South Carolina         SC     5148714
40    South Dakota         SD      884659
41       Tennessee         TN     6829174
42           Texas         TX    28995881
43            Utah         UT     3205958
44         Vermont         VT      623989
45        Virginia         VA     8535519
46      Washington         WA     7614893
47   West Virginia         WV     1792147
48       Wisconsin         WI     5822434
49         Wyoming         WY      578759

In [8]:
dc = df[1].iloc[:,[0,1,3]].copy()
dc.columns = ['state_full', 'state_code', 'population']
dc.loc[:,'state_code'] = 'D.C.'
dc

             state_full state_code  population
0  District of Columbia       D.C.      705749

In [10]:
states.append(dc).to_csv('states.csv', index=False, encoding='utf-8')

## List of countries and population

In [39]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population')[0]

In [42]:
countries = df.iloc[:,[1,2]].copy()
countries.columns = ['country', 'population']
countries.loc[:,'country'] = countries.country.str.split('[', n=1).str.get(0)
countries

                                 country  population
0                                  China  1401739760
1                                  India  1359731828
2                          United States   329442458
3                              Indonesia   266911900
4                               Pakistan   218928520
..                                   ...         ...
237                         Tokelau (NZ)        1400
238                         Vatican City         799
239  Cocos (Keeling) Islands (Australia)         538
240                Pitcairn Islands (UK)          50
241                                World  7771368000

[242 rows x 2 columns]

In [43]:
countries.to_csv('countries.csv', index=False, encoding='utf-8')

## List of Chinese provinces

In [54]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_Chinese_administrative_divisions_by_population')[3]

In [55]:
china = df.iloc[:,[0,1]].copy()
china.columns = ['province', 'population']
china.loc[:,'province'] = china.province.str.split('[', n=1).str.get(0)
china

                      province  population
0               Mainland China  1382710000
1                    Guangdong   111690000
2                     Shandong   100060000
3                        Henan    95590000
4                      Sichuan    83020000
5                      Jiangsu    80290000
6                        Hebei    75200000
7                        Hunan    68600000
8                        Anhui    62550000
9                        Hubei    59020000
10                    Zhejiang    56570000
11                     Guangxi    48850000
12                      Yunnan    48010000
13                     Jiangxi    46220000
14                    Liaoning    43690000
15                      Fujian    39110000
16                     Shaanxi    38350000
17                Heilongjiang    37890000
18                      Shanxi    36820000
19                     Guizhou    35550000
20                   Chongqing    30750000
21                       Jilin    27170000
22                       Gansu    26260000
23              Inner Mongolia    25290000
24                    Xinjiang    24450000
25                    Shanghai    24180000
26                     Beijing    21710000
27                     Tianjin    15570000
28                      Hainan     9170000
29                   Hong Kong     7335384
30                     Ningxia     6820000
31                     Qinghai     5980000
32                       Tibet     3370000
33                       Macau      644900
34  Republic of China (Taiwan)    23562318

In [56]:
china.to_csv('china.csv', index=False, encoding='utf-8')